@import "../../../scss/variables";

$text: #414141;

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: $text;
  height: $navbarHeight;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.link {
  margin-left: 10px;
  font-weight: bold;
  color: $text
}
